name: Build
on: [ push, pull_request ]
jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ij: [ 2020.1.4, 2021.1.2 ]
    steps:
      - uses: actions/checkout@master
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build and verify
        run: ./gradlew clean buildPlugin test verifyPlugin -PpluginIdeaVersion=IU-${{ matrix.ij }} --warning-mode all
